# Python virtual environments
my_env/
.venv/
venv/

# Ignore Python cache
**/__pycache__/
*.pyc

# Local Database (Vector Store)
chroma_db/

# Uploaded Files
static/uploads/*
!static/uploads/.gitkeep

# Audio Files (Temporary)
*.wav
*.mp3

# IDE Settings
.vscode/
.idea/